/*
.ColorBox {
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -4px;
}

.SingleColorPalette .ColorBox {
    height: 50%;
}

.ColorBox.go-back {
    background-color: black;
}

.copy-button,
.back-button {
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -15px;
    text-align: center;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, .3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

*/

/*
.copy-button {
    opacity: 0;
}

.ColorBox:hover .copy-button {
    opacity: 1;
    transition: .5s;
}

.box-content {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    width: 100%;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
*/
/*
.light-text {
    color: white;
}

.ColorBox .dark-text {
    color: rgba(0, 0, 0, .5);
}

.copy-overlay {
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform .6s ease-in-out;
    transform: scale(0.1);
}

.copy-overlay.show {
    opacity: 1;
    transform: scale(50);
    z-index: 10;
    position: absolute;
}


.copy-msg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    transform: scale(0.1);
    opacity: 0;
    color: white;
}

.copy-msg.show {
    opacity: 1;
    transform: scale(1);
    z-index: 20;
    transition-delay: .3s;
    transition: all .4s ease-in-out;
    text-transform: uppercase;
}



.copy-msg h1 {
    font-weight: 400;
    text-shadow: 1px 2px black;
    background-color: rgba(255 , 255, 255, .3);
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding: 1rem;
}

.copy-msg p {
    font-size: 2rem;
    font-weight: 100;
}


*/